html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#content-title {
    color: blue;
}

#content-results {
    color: blue;
}

.btn {
    color: blue;
    margin: 2%;
    padding: 1%;
}